<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">© 2022 {{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{site.position | escape -}}<br>
        {{site.institute | escape -}}<br>
        {{site.uni | escape -}}</p>
        <!--- <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul> --->
      </div>

      <div class="footer-col footer-col-2" align="right">
        <!-- <center> -->
        {%- include social.html -%}
        <!-- <a href="/sitemap">sitemap</a> -->
        <!-- </center> -->
      </div>

      <div class="footer-col footer-col-3">
        <!---<p>{{- site.description | escape -}}</p>--->
        <p style="text-align: right;"><i>Last tinkered with November 2022.</i><br>
         Icon by <a href="https://goodstuffnononsense.com">Good Stuff No Nonsense</a>,<br>licensed with <a href="https://creativecommons.org/licenses/by/4.0/"> CC BY 4.0</a>.<br></p>
      </div>
    </div>
  </div>

</footer>


